@model roleviewmodel




<div class="form-group">
    <label asp-for="name"></label>
    <input class="form-control" asp-for="name" />
    <span class="text-danger " asp-validation-for="name"></span>
</div>

