@model roleviewmodel


<div class="form-group">
    <label asp-for="id"></label>
    <input readonly class="form-control" asp-for="id" />
</div>
<div class="form-group">
    <label asp-for="name"></label>
    <input readonly class="form-control" asp-for="name" />
</div>