@model roleviewmodel
@{
    ViewData["Title"] = "edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="edit" enctype="multipart/form-data">

    <partial name="PartialViews/createeditpartial"></partial>
    <div asp-validation-summary="All"></div>
    <div class="mt-2">
        <a asp-action="AddOrRemoveUsers" class="btn btn-info" asp-route-roleId="@Model.id">Add Or Remove Users</a>
    </div>
    <div class="mt-3">
        <button class="btn btn-success" type="submit">Save</button>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>
</form>

