
@{
    ViewData["Title"] = "checkyouremail";
    Layout = "~/Views/Shared/_authLayout1.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
	    <p> Check Your Email</p>
		<br/>
		<p> <a asp-action="login"> login</a></p>
		<br />

	</div>
</div>

