@model forgetpasswordviewmodel
@{
    ViewData["Title"] = "forgetpassword";
    Layout = "~/Views/Shared/_authLayout1.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="forgetpassword" method="post">
			<div asp-validation-summary="All"></div>


		
			<input class="text " type="text" asp-for="email" placeholder="email" required="">
			<span asp-validation-for="email" class="text-danger"></span>
			<br />
		
			<input type="submit" value="send reset password value">
		</form>
		<p> <a asp-action="login"> cancel</a></p>
		<br />
	
	</div>
</div>
@section validation {
	<partial name="_ValidationScriptsPartial"></partial>

}

