@model registerviewmodel
@{
    ViewData["Title"] = "register";
    Layout = "~/Views/Shared/_authLayout1.cshtml";
}

	<div class="main-agileinfo">
		<div class="agileits-top">
			<form action="register" method="post">
				<div asp-validation-summary="All"></div>
				<input class="text" type="text" asp-for="firstname" placeholder="firstname" required="">
				<span asp-validation-for="firstname" class="text-danger"></span>
				<br />
				<input class="text " type="text" asp-for="lastname" placeholder="lastname" required="">
			<span asp-validation-for="lastname" class="text-danger"></span>
			<br />
			<input class="text " type="text" asp-for="username" placeholder="username" required="">
			<span asp-validation-for="username" class="text-danger"></span>
			<br />
				<input class="text" asp-for="password" placeholder="password" required="">
			<span asp-validation-for="password" class="text-danger"></span>
			<br />
				<input class="text " type="text" asp-for="email" placeholder="email" required="">
			<span asp-validation-for="email" class="text-danger"></span>
			<br />
			<input class="text"  asp-for="confirmationpassword" placeholder="confirmationpassword" required="">
			<span asp-validation-for="confirmationpassword" class="text-danger"></span>
			<br />
		
				<div class="wthree-text">
					<label class="anim">
						<input asp-for="isagree" class="checkbox" required="">
						<span>I Agree To The Terms & Conditions</span>
					</label>
					<div class="clear"> </div>
				</div>
				<input type="submit" value="SIGNUP">
			</form>
			<p>Don't have an Account? <a asp-action="login"> Login Now!</a></p>
		</div>
	</div>
@section validation {
	<partial name="_ValidationScriptsPartial" ></partial>

}

