@model resetpasswordviewmodel
@{
    ViewData["Title"] = "resetpassword";
    Layout = "~/Views/Shared/_authLayout1.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="resetpassword" method="post">
			<input hidden asp-for="email"/>
			<input hidden asp-for="token"/>
			<div asp-validation-summary="All"></div>
	
		
			<input class="text" asp-for="password" placeholder="password" required="">
			<span asp-validation-for="password" class="text-danger"></span>
			<br />
		
			<input class="text" asp-for="confirmationpassword" placeholder="confirmationpassword" required="">
			<span asp-validation-for="confirmationpassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Change Password">
		</form>
		<p> <a asp-action="login"> cancel</a></p>
	</div>
</div>
@section validation {
	<partial name="_ValidationScriptsPartial"></partial>

}

